.header-box {
  display: flex;
  justify-content: flex-end;
  background: #2F79D1;
  min-height: 50px;
  height: 50px;
}

.header-box .logout-button {
  width: 50px;
  height: 50px;
  min-height: 50px;
  line-height: 50px;
  text-align: center;
  margin-right: 50px;
  color: #EAF3FB;
}